root = true

[*]
    charset = utf-8
    end_of_line = lf
    insert_final_newline = true
    trim_trailing_whitespace = true
    indent_style = space
    indent_size = 4

[*.py]
    max_line_length = 88

[{*.json, *.yml}]
    indent_size = 2
    insert_final_newline = false

[*.html]
    indent_size = 2
    max_line_length = 200

[{.babelrc, .stylelintrc, .eslintrc, jest.config, *.jsb3, *.jsb2, *.bowerrc, *.scss, *.js, *.css, *.jsx, *.ts, *.tsx}]
    indent_size = 2
