DEBUG=On

API_GITLAB_URL = https://gitlab.com/
API_GITLAB_KEY = <str: your_key>
API_GITLAB_PROJECTS = [<int: id>]

API_TELEGRAM = <str: your_key>
CHAT_ID = <int: id>

EMAIL = <str: your_email>

CALENDAR_URL = https://

NOTION_PAGE_ID = <str: your_page>
NOTION_TOKEN = <str: your_token>
NOTION_VERSION = 2022-02-22
