<b>{{ today.strftime('%d.%m.%Y') }}</b>

<b>План:</b>{% for x in events_today %}
 - {{ x.name_with_status }}{{ ";" if not loop.last else "." }}{% else %}
 - плана не было.{% endfor %}

<b>Факт:</b>{% for x in commits %}
 - <a href="{{ x.url }}">{{ x.title }}</a>{{ ";" if not loop.last else "." }}{% else %}
 - ничего не было сделано.{% endfor %}

<b>{% if is_friday %}На понедельник{% else %}Завтра{% endif %}</b>:{% for x in events_tomorrow %}
 - {{ x.name }}{{ ";" if not loop.last else "." }}{% else %}
 - пока ничего.{% endfor %}
